---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Dylan Brisson - Compétences">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Mes compétences techniques</div>
  </div>

  <HorizontalCard
    title="HTML5 - CSS3"
    img="/html-css.webp"
    desc="Les langages qui me sont toujours utiles, qui permettent la structuration de base d'un site web."
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Git - GitHub"
    img="/git-github.png"
    desc="Maitrise des commandes Git sur terminal bash via Visual Studio Code, utilisation de GitHub Desktop et GitHub pour le versionning de l'avancement des projets."
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Tailwind CSS"
    img="/tailwindcss.png"
    desc="Spécialisé dans le développement web mobile-first avec TailwindCSS, je travail tout mes projets avec cette librairie qui rend le responsive plus pratique pour chaque appareil mobile."
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="JavaScript"
    img="/js.png"
    desc="Le langage qui représente pour moi le plus de sens dans le Développement Web, la polyvalence m'as convaincu d'en faire ma spécialité et devenir Développeur Web JavaScript. La majorité de mes projets sont réalisé grâce à ce langage."
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="VueJS"
    img="/vuejs.jpg"
    desc="Le framework Javascript dans lequel j'ai choisi de travailler, celui dans lequel je suis le plus à l'aise et me permet d'être performant dans les projets que j'entreprends."
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="MySQL"
    img="/mysql.jpg"
    desc="Mes projets d'études et autres projets qui ont besoin d'un service de base de donnée, j'utilise MySQL qui pour moi est le logiciel de base de donnée le plus rapide et efficace pour gérer des donnée facilement et établir la connexion pour reprendre les données dans un site web."
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="AstroJS"
    img="/astrojs.webp"
    desc="La librairie JavaScript que j'ai découvert récemment, très agréable pour les projets sans complexités, ce Portfolio est d'ailleurs codé en AstroJS."
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="WordPress"
    img="/wordpress.png"
    desc="Le framework Javascript dans lequel j'ai choisi de travailler, celui dans lequel je suis le plus à l'aise et me permet d'être performant dans les projets que j'entreprends."
  />
  <div class="divider my-0"></div>
  <HorizontalCard
  title="PHP"
  img="/php1.png"
  desc="Le langage PHP est un des premier que j'ai appris suite à HTML/CSS dans lequel j'ai travailler plusieurs projets e-commerces."
/>
<div class="divider my-0"></div>
<HorizontalCard
title="Laravel"
img="/laravel.png"
desc="Laravel est le framework PHP dans lequel j'ai acquis de l'expérience lors de ma formation à Epitech, une communauté très présente et beaucoup de possibilité. J'ai réalisé un projet e-commerce plus poussé qu'en PHP facilement."
/>
<div class="divider my-0"></div>
  <HorizontalCard
    title="Figma"
    img="/figma.jpg"
    desc="J'effectue également le maquettage antérieurement à la réalisation d'un site web si elle n'est pas fournie. C'est pourquoi j'ai appris à utiliser Figma qui me permet un gain de temps important pour réaliser la partie code d'un projet web."
  />
</BaseLayout>
