---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Dylan Brisson
  </div>
  <div class="inline opacity-75">
    Template by <a href="https://astro.build/" target="_blank" class="font-bold hover:text-sky-500">Astro</a> |
    <a href="https://github.com/DylanBrisson" target="_blank" class="font-bold hover:text-sky-500">Dylan Brisson ⚡️</a>
  </div>
</footer>
<style>

</style>
